<section class="main">
  <div class='row'>
    <div class="col-xs-12 sectionHeader">
      <h2>Teaching Style</h2>
    </div>
  </div>

  <div class='row'>
    <div class="col-sm-12 col-md-7">
      <p>
        {{{aboutmedata.about}}}
      </p>
    </div>

    <div class="col-md-5">
      <div>
          <img class="profile" src="{{aboutmedata.aboutimage}}" alt="">
      </div>
    </div>
  </div>


  <div class='row'>
    <div class="col-xs-12 sectionHeader">
      <h2>Bio</h2>
    </div>
  </div>

  <div class='row'>

    <div class="col-sm-12 col-md-5">
      <div>
          <img class="profile" src="{{aboutmedata.bioimage}}" alt="">
      </div>
    </div>

    <div class="col-sm-12 col-md-7">
      <p>
        {{{aboutmedata.bio}}}
      </p>
    </div>




  </div>
</section>