<section class="main">
  <div class='row'>
    <div class="col-sm-12 col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>Admin Portal</h3></div>
        <div class="panel-body">
          <div class='row'>
            <div class="aboutme">
              <a href="adminaboutme">
                <h2>Update 'About Me' and/or "Bio" Elements</h2>
              </a>
              <a href="adminschedule">
                <h2>Update 'Schedule' Page</h2>
              </a>
              <a href="adminvideos">
                <h2>Update 'Videos' Page</h2>
              </a>
              <a href="viewmessages">
                <h2>View Messages</h2>
              </a>
            </div>
          </div>
        </div>    
      </div>
    </div>
  </div>
</section>