<section class="main">
  <div class='row linktoportal'>
    <div class="col-sm-12">
      <a href="adminportal">Return to Admin Portal</a>
    </div>
  </div>
  <div class='row'>
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>About Me Administration</h3></div>
        <div class="panel-body">
            <div class="row">
              <div class="col-sm-12">
              
                <form enctype="multipart/form-data" action="updateAboutMe" method="POST">
                  <p>About Me (limit 1,000 characters):</p>
                  <textarea rows="4" cols="50" id="AboutMeBio" name="AboutMeBio" maxlength="1000">{{aboutmedata.bio}}</textarea> 

                  <p>Image:</p>
                  <input type="file" name="profilepicture" id="profilepicture">
                  <input type="text" id="AboutMeImage" name="AboutMeImage" value="{{aboutmedata.image}}"/> 
                  <p>
                    <button type="submit" id="update" class="btn btn-primary">Update About Me</button>
                  </p>
                  </form>
              
              </div>
            <Br/><Br/><Br/><Br/>
        </div>
      </div>
    </div>
  </div>
</section>