<section class="main">
  <div class='row pageTitle'>
    <div class="col-sm-12">
        Admin Portal
    </div>
  </div>

  <div class="row">
    <div class="col-xs-5 portalButton">
      <div class="row">
        <div class="pageTitle col-xs-12">
          <a class="pageTitle" href="admincarousel">
            Carousel
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-1"></div>
    <div class="col-xs-5 portalButton">
      <div class="row">
        <div class="pageTitle col-xs-12">
          <a class="pageTitle" href="adminaboutme">
            About Me
          </a>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-5 portalButton">
      <div class="row">
        <div class="pageTitle col-xs-12">
          <a class="pageTitle" href="adminschedule">
            Schedule
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-1"></div>
    <div class="col-xs-5 portalButton">
      <div class="row">
        <div class="pageTitle col-xs-12">
          <a class="pageTitle" href="adminvideos">
            Videos
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5 portalButton">
      <div class="row">
        <div class="pageTitle col-xs-12">
          <a class="pageTitle" href="viewmessages">
            View Messages
          </a>
        </div>
      </div>
    </div>
  </div>
</section>