<section class="main">
  <div class='row'>
    <div class="col-sm-12">
      <h1>
        Admin Portal
      </h1>
      <p class="description">
        Click on the links below to view, modify or remove any elements from the pages.
      </p>

      <hr>

      <div class="portalLinks">
        <a href="admincarousel">
          <h2>Update Carousel and Quotes</h2>
        </a>
        <a href="adminaboutme">
          <h2>Update 'About Me' and/or "Bio" Elements</h2>
        </a>
        <a href="adminschedule">
          <h2>Update 'Schedule' Page</h2>
        </a>
        <a href="adminvideos">
          <h2>Update 'Videos' Page</h2>
        </a>
        <a href="viewmessages">
          <h2>View Messages</h2>
        </a>
      </div>
    </div>    
  </div>
</section>