<section class="main">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.4/summernote.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.4/summernote.js"></script>

  <div class='row pageTitle'>
    <div class="col-sm-12">
        Schedule Administration
    </div>
  </div>

   <form enctype="multipart/form-data" action="updateSchedule" onsubmit="return validateUpdateScheduleForm()" method="POST"> 

    <div class="row">
      <div class="adminImageArea col-md-5">
        <img class='CMSImage' src="{{dynamicData.scheduleimage}}">
        <input type="file" name="schedulepicture" id="schedulepicture">
        <input type="hidden" id="scheduleimage" name="scheduleimage" value="{{dynamicData.scheduleimage}}"/> 
      </div>

      <div class="hideElement adminTextArea col-md-7">
        <textarea rows="4" cols="50" id="ScheduleText" name="ScheduleText" maxlength="2000">{{{dynamicData.scheduletext}}}</textarea> 
      </div>

      <div class="col-md-7">
        <div class="row">
          <div id="summernoteSchedule">
        </div>
        </div>
    </div>

    <div class="row">
        <div class='col-xs-12'>
          <button type="submit" id="updateschedulebutton">Update</button>
        </div>
    </div>

  </form>

 
 <script>
    $(document).ready(function() {

      //Initialize Summernote for the Schedule
      $('#summernoteSchedule').summernote({
        toolbar: [
            // [groupName, [list of button]]
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['font', ['strikethrough', 'superscript', 'subscript']],
            ['fontsize', ['fontsize']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['insert', ['link']]
          ]
      });

      //Read coded contents & decode them
      var ScheduleContent = $("#ScheduleText").val();
      var decodedSchedule = decodeURI(ScheduleContent);

      //Insert decoded text into the proper fields  
      $('#summernoteSchedule').summernote('code', decodedSchedule);
    });
  </script>

</section>