<section class="main">
  <div class='row'>
    <div class="col-md-4">
      <div>
          <img class="profile" src="{{aboutmedata.aboutimage}}" alt="">
      </div>
    </div>


    <div class="col-sm-12 col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>Teaching Style</h3></div>
          <div class="panel-body">
            <div class='row'>
              <div>
                <p>
                  {{aboutmedata.about}}
                </p>
             </div>
          </div>
        </div>    
      </div>
    </div>
  </div>


    <div class='row'>
    <div class="col-md-4">
      <div>
          <img class="profile" src="{{aboutmedata.bioimage}}" alt="">
      </div>
    </div>


    <div class="col-sm-12 col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>Bio</h3></div>
          <div class="panel-body">
            <div class='row'>
              <div>
                <p>
                  {{aboutmedata.bio}}
                </p>
             </div>
          </div>
        </div>    
      </div>
    </div>
  </div>
</section>