<section class="main">
  <div class='row'>
    <div class="col-sm-12 loginform">
      <h3>
        Administrative Login
        <hr>
      </h3>
      <form action="login" method="POST">
        <p>E-mail:</p><input type="text" id="email" name="email"  placeholder="example@gmail.com">
        <p>Password:</p><input type="password" id="password" name="password"></textarea>
        <p><button type="submit">Login</button></p>
      </form>
    </div>
  </div>
</section>