<section class="main">
  <div class='row'>
    <div class="col-sm-12 loginform">
      <div class="pageTitle">
        Administrative Login
      </div>

      <form action="login" method="POST">
        <div class='row'>
          <div class="col-xs-3 formLabel">
            E-mail:
          </div>
          <div class="col-xs-6">
            <input class="formInput" type="text" id="email" name="email"  placeholder="example@gmail.com">
          </div>
        </div>
        <div class='row'>
          <div class="col-xs-3 formLabel">
            Password:
          </div>
          <div class="col-xs-6">
            <input class="formInput"  type="password" id="password" name="password"></textarea>
          </div>
        </div>
          
        <button type="submit">Login</button>
      </form>
    </div>
  </div>
</section>