<section class="main">
  <div class='row'>
    <div class="col-sm-12 col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>Login</h3></div>
        <div class="panel-body">
          <div class='row'>
            <div class="aboutme">
              <form action="login" method="POST">
                <p>E-mail:</p><input type="text" id="email" name="email"  placeholder="example@gmail.com">
                <p>Password:</p><input type="password" id="password" name="password"></textarea>
                <p><button type="submit">Submit</button></p>
              </form>
            
            </div>
          </div>
        </div>    
      </div>
    </div>

    <div class="col-sm-12 col-md-4">
      <div class="connect">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5>Connect with Me</h5>
          </div>
          <div class="panel-body">
            <ul class="icons">
              <li class="thumbnails"><a href="https://github.com/Tomcariello" target="_blank"><img src="images\github.png" alt="github"></a></li>
              <li class="thumbnails"><a href="http://www.linkedin.com/in/tom-cariello" target="_blank"><img src="images\linkedin.png" alt="Linkedin"></a></li>
              <li class="thumbnails"><a href="https://drive.google.com/file/d/0B6Yd4iwY-h4sNDNadmhaRmx3MTg/view?usp=sharing" target="_blank"><img src="images\resume.jpg" alt="Resume"></a></li>
            </ul>
          </div>
        </div>    
      </div>
    </div>
  </div>
</section>