<section class="main">
  <div class='row'>
    <div class="col-sm-12 pageTitle">
      Register at RaechelLutzYoga.com
    </div>
  </div>
  <form action="register" method="POST">
    <div class="row">
       <div class="col-xs-3 formLabel">
          First Name:
       </div>
       <div class="col-xs-9">
         <input class="formInput" type="text" id ="firstname" name="firstname" placeholder="John">
       </div>
    </div>
    <div class="row">
      <div class="col-xs-3 formLabel">
        Last Name:
      </div>
      <div class="col-xs-9">
        <input class="formInput" type="text" id ="lastname" name="lastname" placeholder="Smith">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 formLabel">
        E-mail:
      </div>
      <div class="col-xs-9">
        <input class="formInput" type="text" id="email" name="email" placeholder="example@gmail.com">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 formLabel">
        Password:
      </div>
      <div class="col-xs-9">
        <input class="formInput" type="password" id="password" name="password" placeholder="example@gmail.com">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 formLabel">
        Confirm Password:
      </div>
      <div class="col-xs-9">
        <input class="formInput" type="password" id="confirmpassword" name="confirmpassword"  placeholder="example@gmail.com">
      </div>
    </div>
        <button type="submit" id="submitButton">Submit</button>
  </form>
</section>