<section class="main">
  <div class='row'>
    <div class="col-xs-12 pageTitle">
      Schedule
    </div>
  </div>

  <div class='row'>
    <div class="col-sm-12 col-md-7">
      <p>
        {{{dynamicData.scheduletext}}}
      </p>
    </div>

    <div class="col-md-5">
      <div>
          <img class="profile" src="{{dynamicData.scheduleimage}}" alt="">
      </div>
    </div>
  </div>
</section>