<section class="main">
  <div class='row'>
    <div class="col-xs-12 pageTitle">
      Schedule
    </div>
  </div>

  <div class='row'>
    <div class="col-sm-12">
      <div>
          <img class="profile" src="{{dynamicData.scheduleimage}}" alt="">
      </div>
    </div>

    <div class="col-sm-12 schedule">
        {{{dynamicData.scheduletext}}}
    </div>

  </div>
</section>