<section class="main">
  <div class='row'>
    {{!-- Control Window of entire page --}}
    <div class="col-xs-10 col-xs-offset-1">
      <div class='row pageTitle'>
        <div class="col-lg-12">
            Videos
        </div>
      </div>
      
      {{#each dynamicData}}
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <div class="yogavideo">
              <iframe src="{{this.url}}" frameborder="0" allowfullscreen></iframe><br/>
              <div class="videoTitle">
                {{this.videoname}}
              </div>
              <div class="videoDescription">
                {{this.description}}
              </div>
            </div>
          </div>        
        </div>
      {{/each}}
    </div>
  </div>
</section>