<section class="main">
  <div class='row pageTitle'>
    <div class="col-sm-12">
        Videos
    </div>
  </div>

  {{#each dynamicData}}
    
    <div class="yogavideo">
      <iframe src="{{this.url}}" frameborder="0" allowfullscreen></iframe><br/>
      <div class="videoTitle">
        {{this.videoname}}
      </div>
      <div class="videoDescription">
        {{this.description}}
      </div>
    </div>
  {{/each}}






</section>