<section class="main">
  <div class='row pageTitle'>
    <div class="col-sm-12">
        Videos
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">

      {{#each dynamicData}}
        
        <div class="yogavideo">
          <iframe src="{{this.url}}" frameborder="0" allowfullscreen></iframe><br/>
          <div class="videoTitle">
            {{this.videoname}}
          </div>
          <div class="videoDescription">
            {{this.description}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>