<section class="main">
  <div class='row'>
    <div class="col-sm-12">
      <p>
        Videos
      </p>
    </div>
  </div>

  <div class='row'>
    {{#each videodata}}
  
    
      <div class="col-xs-12 col-md-5 yogavideo">
          <p>
            {{this.videoname}}
          </p>
          <iframe src="{{this.url}}" frameborder="0" allowfullscreen></iframe>
          <p>
            {{this.description}}
          </p>
      </div>
    {{/each}}

  </div>




</section>