<section class="main">
  <div class='row'>

    <div class="col-sm-12 col-md-7">
      <p>
        Videos
      </p>
    </div>
  </div>

  <div class='row'>
    <div class="col-xs-12 col-md-5 yogavideo">
      <iframe src="https://www.youtube.com/embed/oifIkMgm40o" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-xs-12 col-md-5 yogavideo">
      <iframe src="https://www.youtube.com/embed/oifIkMgm40o" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class='row'>
    <div class="col-xs-12 col-md-5 yogavideo">
      <iframe src="https://www.youtube.com/embed/oifIkMgm40o" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-xs-12 col-md-5 yogavideo">
      <iframe src="https://www.youtube.com/embed/oifIkMgm40o" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class='row'>
    <div class="col-xs-12 col-md-5 yogavideo">
      <iframe src="https://www.youtube.com/embed/oifIkMgm40o" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</section>