<section class="main">
  <div class='row pageTitle'>
    <div class="col-sm-12">
        Videos
    </div>
  </div>

  <div class='row'>
    {{#each dynamicData}}
     
      <div class="col-xs-12 col-md-5 yogavideo">
        <iframe src="{{this.url}}" frameborder="0" allowfullscreen></iframe><br/>
        <div class="videoTitle">
          {{this.videoname}}
        </div>
        <div class="videoDescription">
          {{this.description}}
        </div>
      </div>
      <div class="col-xs-0 col-md-1">
      </div>
    {{/each}}

  </div>




</section>